<div class="module-manager">
    @if (menuOpened) {
        <div class="opened-menu-container p-2 d-flex flex-column gap-3">

            <div class="card">
                <h5 class="card-header">[Paysage] Deux images</h5>
                <div class="card-body">
                    <div class="row align-items-center text-center">
                        <div class="col">
                            <app-image-preview [isPortrait]="false"></app-image-preview>
                        </div>
                        <div class="col">
                            <app-image-preview [isPortrait]="false"></app-image-preview>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col d-flex justify-content-end">
                            <app-button
                                    [label]="'+'"
                                    [tooltip]="'Ajouter le module'"
                                    [classBtn]="'btn-success'"
                                    (onClick)="addModule('double-image-landscape-module')"
                            ></app-button>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-body-secondary">
                    [PAYSAGE] - Permet d'afficher deux images côte a côte, les deux images doivent être en format paysage (16:9) pour un rendu optimal sur la page.
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">[Portrait] Deux images</h5>
                <div class="card-body">
                    <div class="row align-items-center text-center">
                        <div class="col">
                            <app-image-preview [isPortrait]="true"></app-image-preview>
                        </div>
                        <div class="col">
                            <app-image-preview [isPortrait]="true"></app-image-preview>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col d-flex justify-content-end">
                            <app-button
                                    [label]="'+'"
                                    [tooltip]="'Ajouter le module'"
                                    [classBtn]="'btn-success'"
                                    (onClick)="addModule('double-image-portrait-module')"
                            ></app-button>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-body-secondary">
                    [PORTRAIT] - Permet d'afficher deux images côte a côte, les deux images doivent être en format portrait (9:16) pour un rendu optimal sur la page.
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">Image</h5>
                <div class="card-body">
                    <div class="row align-items-center text-center">
                        <div class="col">
                            <app-image-preview [isPortrait]="false"></app-image-preview>
                        </div>
                        <div class="col">
                            <p>Ou</p>
                        </div>
                        <div class="col">
                            <app-image-preview [isPortrait]="true"></app-image-preview>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col d-flex justify-content-end">
                            <app-button
                                    [label]="'+'"
                                    [tooltip]="'Ajouter le module'"
                                    [classBtn]="'btn-success'"
                                    (onClick)="addModule('single-image-module')"
                            ></app-button>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-body-secondary">
                    Affiche une seule image, ce module est plus flexible et comprend par lui même si l'image ajoutée est en paysage ou portrait. Il est aussi possible de choisir l'alignement de l'image (centrée, à gauche ou à droite).
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">Vidéo</h5>
                <div class="card-body">
                    <div class="row align-items-center text-center">
                        <div class="col">
                            <app-video-preview></app-video-preview>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col d-flex justify-content-end">
                            <app-button
                                    [label]="'+'"
                                    [tooltip]="'Ajouter le module'"
                                    [classBtn]="'btn-success'"
                                    (onClick)="addModule('video-module')"
                            ></app-button>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-body-secondary">
                    [PAYSAGE] Affiche une video qui doit être en format paysage (16:9) pour un affichage qui prend toute la largeur de l'écran et la hauteur.
                </div>
            </div>

        </div>
    }

    <div class="button-open-menu-container">
        <button class="button-open-menu" (click)="menuOpened = !menuOpened">
            {{ menuOpened ? '📂' : '📁' }}
        </button>
    </div>
</div>
