<div class="card">
    <h5 class="card-header">Image seule</h5>
    <div class="card-body">
        @if (image && module) {
            <div class="row align-items-center text-center mb-3">
                <div class="col d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Alignement image">
                        <app-button
                                [label]="'Gauche'"
                                [tooltip]="'Aligner l\'image à gauche'"
                                [classBtn]="module.imgLeft ? 'btn-primary active' : 'btn-outline-primary'"
                                (onClick)="alignLeftImage()"
                        ></app-button>

                        <app-button
                                [label]="'Centre'"
                                [tooltip]="'Aligner l\'image au centre'"
                                [classBtn]="module.imgCenter ? 'btn-primary active' : 'btn-outline-primary'"
                                (onClick)="alignCenterImage()"
                        ></app-button>

                        <app-button
                                [label]="'Droite'"
                                [tooltip]="'Aligner l\'image à droite'"
                                [classBtn]="module.imgRight ? 'btn-primary active' : 'btn-outline-primary'"
                                (onClick)="alignRightImage()"
                        ></app-button>
                    </div>
                </div>
            </div>

            @if (module.imgCenter && !module.imgPortrait) {
                <div class="text-center pb-3">
                    @if (module.imgLarge) {
                        <app-button
                                [label]="'Ne pas prendre toute la largeur'"
                                [tooltip]="'L\'image ne prendra plus toute la largeur'"
                                [classBtn]="'btn-danger'"
                                (onClick)="centerImageSwitchFullWidth()"
                        ></app-button>
                    } @else {
                        <app-button
                                [label]="'Prendre toute la largeur'"
                                [tooltip]="'L\'image prendra toute la largeur'"
                                [classBtn]="'btn-success'"
                                (onClick)="centerImageSwitchFullWidth()"
                        ></app-button>
                    }
                </div>
            } @else {
                <div class="alert alert-secondary" role="alert">
                    Pour définir une image qui prend tout l'espace en largeur, sélectionnez l'alignement "Centre" et l'image doit être en format paysage 16:9.
                </div>
            }
        }


        <div class="row align-items-center text-center">
            @if (image && module) {
                @if (!module.imgLeft && !module.imgLarge) {
                    <div class="col">
                        <figure class="figure">
                        </figure>
                    </div>
                }

                <div class="col">
                    <app-media [media]="image"></app-media>

                    <div>
                        <app-button
                                [label]="'+'"
                                [tooltip]="'Changer l\'image'"
                                [classBtn]="'btn-success mt-2'"
                                (onClick)="openImageSelection()"
                        ></app-button>
                    </div>
                </div>

                @if (!module.imgRight && !module.imgLarge) {
                    <div class="col">
                        <figure class="figure">
                        </figure>
                    </div>
                }
            } @else {
                <div class="col">
                    <app-image-preview></app-image-preview>

                    <div>
                        <app-button
                                [label]="'+'"
                                [tooltip]="'Ajouter une image'"
                                [classBtn]="'btn-success mt-2'"
                                (onClick)="openImageSelection()"
                        ></app-button>
                    </div>
                </div>
            }

        </div>

        <div class="row mt-3">
            <div class="col d-flex justify-content-end">
                <app-button
                        [label]="'-'"
                        [tooltip]="'Supprimer le module'"
                        [classBtn]="'btn-danger'"
                        (onClick)="removeModule()"
                ></app-button>
            </div>
        </div>
    </div>
</div>
